:root{
    --accent-color: #2196F3;
    --main-text: #212121;
    --section-text: #757575
}

body{
    font-family: "Roboto", Roboto, sans-serif;
    color: #212121;
}

.link{
    text-decoration: none;
}

.list{
    list-style: none;
}

/* ---------!HEADER!-------- */

.header-logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.38;
/* identical to box height */
color: #212121;
}
.text-logo{
    color: #2196F3;
}

.header-link{
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-text);
}

.header-link:hover{
    color: var(--accent-color);
}

.header-link:focus{
    color: var(--accent-color);
}

.headr-mail{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #2196F3;
}

.header-tel{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em; 
color: #757575;
}

/* ---------!HEROV!-------- */

.herov{
    background-color: #2F303A;
}

.herov-titel {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}

.herov-btn{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.88;        
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
cursor: pointer;
}

/* ---------!FEATURES!-------- */

.features-titel {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--main-text);
}
.features-text {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--section-text);
}


/* ---------!WORK!-------- */

.work-titel{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-text);
}


/* ---------!TEAM!-------- */

.team-titel{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-text);
}

.team-titel-name {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
color: var(--main-text);
}
.team-text {
font-size: 16px;
line-height: 1.18;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
color: var(--section-text);
}

/* ---------!FOOTER!-------- */

.footer{
    background-color: #2F303A;
}

.footer-adderess {
    font-style: normal;
}

.header-logo-footer{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #FFFFFF;
}

.text-logo-footer{
    color: #2196F3;
}

.footer-link{
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
}

.footer-mail {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.footer-tel{
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

/* ---------!PORTFOLIO!-------- */

.portfolio-btn{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
cursor: pointer;
}

.portfolio-titel {
    font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--main-text);
}

.portfolio-text {
    font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--section-text);
}